@using WebApplication5.ViewModels.QuestionAndAnswer
@model AnswerCreateViewModel

@* partial view in QuestionAnswer *@

<div class="content-section box mt-3">
    <h3 class="title is-4">Give your answer</h3>
    <form id="form" asp-controller="Answer" asp-action="AnswerCreate" onsubmit="handleNewAnswerSubmit()">
        @Html.AntiForgeryToken()

        <div class="field">
            <label class="label">Content</label>
            <p>Be sure to answer with an explanation on why your solution works.</p>
            <div class="control">
                <div id="new-answer-editor" class="content"></div>
                <input type="hidden" id="quill-new-answer-content" asp-for="@Model.Content" />
                <input type="hidden" id="quill-new-answer-truncated-content" asp-for="@Model.TruncatedContent" />
                <input type="hidden" id="associated-question-id" asp-for="@Model.AssociatedQuestionId" />
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <input type="submit" name="submit" class="button is-link" value="Submit Answer" />
            </div>
        </div>
    </form>
</div>
