@model Answer

@* partial view in QuestionAnswer *@

<div class="content-section mt-2">
    <h3>Give your answer</h3>
    <form id="form" asp-controller="Answer" asp-action="AnswerCreate" onsubmit="handleAnswerSubmit()">
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label for="editor">Content</label>
            <label for="editor">Be sure to answer with an explanation on why your solution works.</label>
            <div id="editor" class="form-control"></div>
            <input type="hidden" id="quill-answer-content" asp-for="@Model.Content" />
        </div>

        <div class="form-group">
            <input type="submit" name="submit" class="btn btn-outline-info" value="Submit Answer" />
        </div>
    </form>
</div>

@section Scripts {
    <script>
        var answerQuill = new Quill('#editor', {
          modules: {
            toolbar: [
              [{ header: [1, 2, false] }],
              ['bold', 'italic', 'underline'],
              ['image', 'code-block']
            ]
          },
          theme: 'snow'
        });

        function handleAnswerSubmit() {
            document.getElementById('quill-answer-content').value = JSON.stringify(answerQuill.getContents());
        }
    </script>
}