@section OutsideContainer {
    <div class="columns mx-6">
        <div class="mr-2 column">
            <div id="landing-text" class="">
                <h1 class="title is-1">Learn something new</h1>
                <button>Explore</button>
            </div>
            
        </div>
        <div class="mr-2 column is-7">
            <img id="landing-img" src="~/vecteezy_studying-and-learning-online-concept_1270244.svg" alt="Man studying" />
            <small id="landing-attr"><a href="https://www.vecteezy.com/free-vector/study">Study Vectors by Vecteezy</a></small>
        </div>
    </div>


    <style>
        #landing-attr {
            margin-left: 80%;
        }

        #landing-text {
            margin-top: 40%;
        }

        /* .vertical-center {
            margin: 0;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        } */
    </style>
}