html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
}

body {
    height: 100vh;
    background-color: ghostwhite;
}
.media-rows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 2.5;
}

.bg-so {
    background-color: #FF9900;
}

.bg-so-light {
    background-color: #ffdba5;
}

.text-so {
    color: #FF9900;
}

.text-dark-so {
    color: #e08600;
}

.soc-container {
    background-color: lightgray;
}

.soc-post-title {
    font-size: 1.3rem;
    font-weight: 600;
}

.gr-footer {
    margin-top: 0.3rem;
    text-align: center;
    margin-bottom: 0.3rem;
}

    .gr-footer a::after {
        content: '  ';
        padding: 0 0.5rem;
    }

.gr-footer-item {
    font-size: 1.5rem;
    color: #212529;
}

#post {
    
}

#post:hover {
    transition: all 0.5s ease-in-out;
}

.vote i {
    font-size: 1.8rem;
}

.post-view {
    border: none !important;
}

#search-box {
    width: 100%;
}


@media screen and (min-width: 1024px) {
    #search-box {
        width: 40vw;
    }
}

.bg-downvote {
    background-color: #42414cff;
}

.mini-media-rows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 2.5;
    width: 13%;
}

@media screen and (max-width: 450px) {
    .mini-media-rows {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 2.5;
        width: auto;
    }
}

#tags-input {
    width: 10rem;
}

#login-container {
    width: 50%;
}

@media screen and (max-width: 500px) {
    #login-container {
        width: 100%;
    }
}

