@model WebApplication5.ViewModels.Shared.DeleteModalViewModel


<div class="modal" id="delete-modal-@Model.DomainName">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <h2 class="modal-card-title">Delete @Model.DomainName?</h2>
            <button class="delete cancel-modal-trigger" data-target="#answer-update-modal" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="content-section mt-2">
                <form id="form" asp-controller="@Model.Controller" asp-action="@Model.Action">
                    @Html.AntiForgeryToken()

                    <input type="submit" name="submit" class="button is-danger" value="Delete" />
                </form>
            </div>
        </section>
    </div>
</div>
