<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebApplication5 - @ViewData["Title"]</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication5.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Head", required: false)
</head>
<body>
    <header>
        <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" asp-controller="Home" asp-action="Index">
                    <img src="~/logo.png">
                </a>

@*                 <a class="navbar-item" style="font-size:1.5rem; font-weight:700;" asp-area="" asp-controller="Home" asp-action="Index">Stack Overflow Clone</a> *@
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    
                </div>

                <div class="navbar-item ml-auto mr-auto">
                    @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @autocomplete = "off", @class = "control has-icons-left", @style = "width: 40vw" }))
                    {
                        @Html.AntiForgeryToken()
                        <input class="input is-rounded" name="searchQuery" type="text" placeholder="Search All Questions" class="form-control-lg" />
                        <span class="icon is-small is-left">
                            <i class="bi bi-search"></i>
                        </span>
                    }
                </div>
                <div class="navbar-end">
                    @if (User.Claims.Any())
                    {
                        <div class="navbar-nav flex-grow-2 navbar-item">
                            <a class="button navbar-link has-background-link is-arrowless mr-2" asp-area="" asp-controller="Profile" asp-action="Details" asp-route-id="@User.FindFirst("ID").Value">Profile</a>
                            <a class="button navbar-link has-background-black is-arrowless" asp-area="" asp-controller="Profile" asp-action="Logout">Logout</a>
                        </div>
                    }
                    else
                    {
                        <div class="navbar-nav flex-grow-2 navbar-item buttons">
                            <a class="button bg-so navbar-link is-arrowless" style="border:none" asp-controller="Profile" asp-action="Register">
                                <span class="icon is-small">
                                    <i class="bi bi-box-arrow-in-right"></i>
                                </span>
                                <strong>Register</strong>
                            </a>
                            <a class="button is-black navbar-link is-arrowless" asp-controller="Profile" asp-action="Login">Login</a>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>

    @await RenderSectionAsync("OutsideContainer", required: false)
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top gr-footer text-muted">
            <a class="gr-footer-item" href="https://github.com/gh-lutheravery">Github Page</a>
            <a class="gr-footer-item" href="mailto:lutheravery64@gmail.com" title="contact@lutheravery64@gmail.com">Contact</a>
    </footer>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
